# SQL Competition

## Loading Data

In [91]:
import numpy as np
import pandas as pd
heroes = pd.read_csv("heroes_information.csv")

In [2]:
heroes.head()

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,bad,-99.0

## pandasql

In [7]:
from pandasql import *

In [8]:
pysqldf = lambda q: sqldf(q, globals())

## 1. Selecting superhero name and publisher

In [63]:
query = """
    SELECT 
        name
        ,Publisher
    FROM heroes
"""

In [64]:
q1 = pysqldf(query)

In [65]:
def question1(q):
    if all(q.columns == ['name', 'Publisher']) and q.shape == (734,2):
        return("Correct")
    else:
        return("Incorrect")

In [66]:
question1(q1)

'Correct'

## 2. Publishers

In [133]:
query2 = """
    SELECT DISTINCT Publisher
    FROM heroes
"""

In [134]:
q2 = pysqldf(query2)

In [135]:
def question2(q):
    if q.shape == (25,1):
        if (q.iloc[:,0].values == np.array(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
               'Wildstorm', 'Image Comics', None, 'Icon Comics', 'SyFy',
               'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
               'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
               'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
               'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'])).all():
            return("Correct")
        else:
            return("Incorrect")
    else:
        return("Incorrect")

In [136]:
question2(q2)

'Correct'

## 3. # of Publishers

In [151]:
query3 = """
    SELECT COUNT(DISTINCT Publisher)
    FROM heroes
"""

In [152]:
q3 = pysqldf(query3)

In [153]:
def question3(q):
    if q.iloc[0,0] == 24:
        return('Correct')
    else:
        return('Incorrect')

In [154]:
question3(q3)

'Correct'

## 4. Heroes with heights over 2m

In [198]:
query4 = """
    SELECT *
    FROM heroes
    WHERE Height > 200
"""

In [199]:
q4 = pysqldf(query4)

In [208]:
def question4(q):
    if q.shape == (59,11):
        if (q.columns == ['id', 'name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height', 'Publisher',
                         'Skin color', 'Alignment', 'Weight']).all() and q[q['Height']<200].shape[0] == 0:
            return('Correct')
        else:
            return('Incorrect')
    else:
        return('Incorrect')

In [209]:
question4(q4)

'Correct'